extends ../layout

block content
  .page-header
    h2
      i.fa.fa-github-square
      | #{title}
  .btn-group.btn-group-justified
    a.btn.btn-github(href='https://developer.github.com/v4/guides/', target='_blank', style='margin-right: 10px')
      i.fa.fa-book
      | Guides
    a.btn.btn-github(href='https://developer.github.com/v4/explorer/', target='_blank', style='margin-right: 10px')
      i.fa.fa-play-circle
      | Explorer
    a.btn.btn-github(href='https://developer.github.com/v4/', target='_blank')
      i.fa.fa-code-fork
      | Reference

  each val in [1, 2, 3]
    br

  h3
    i.fa.fa-user
    |  My Profile
  img.thumbnail(src=profile.avatarUrl, width='90', height='90', alt=(profile.name || profile.username))
  h4= profile.name
  h6 Website: #{profile.websiteUrl}
  h6 Email: #{email}
  h6 Location: #{profile.location}
  h6 Bio: #{profile.bio}
